.Navbar{
  background-color:#393939;
   
}
.links a{
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  color:#cdc9c9;
  padding: 10px;
  text-decoration: none;  
}
.logo{
width:100px;
 margin-left: 40px;
}
.cartshop{
width: 30px;
 margin-right: 50px;  
}
.agregar{
  width: 200px;
} 
.prod{
  justify-content: center;
   display: grid;
   grid-template-columns: 400px 400px 400px;
   margin-top: 20px;
}
.card{
  margin: 20px;
  box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.1); 
  font-family: 'Montserrat', sans-serif;
  color:#656565;
}
 
.titulo{
  margin: 20px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  color:#656565;
}